.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: transparent;
  height: 7vh;
  z-index: 4;
  position: fixed;
  inset: 0;
  transition: background-color 500ms ease-in-out;
}

.headerBg {
  background-color: black;
}

.logopic {
  object-fit: cover;
  height: 100%;
	cursor: pointer;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  display: flex;
}

.label {
  border: 0;
  border-radius: 0.4rem;
  padding-left: 15px;
  background-color: lightgrey;
  color: black;
}

.button {
  background-color: gray;
  color: white;
}
