.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  width: 95vw;
  background-color: transparent;
  z-index: 4;
}

.logo {
  flex: 1;
}

.logopic {
  width: 250px;
  height: 120px;
}

.buttonContainer {
  display: flex;
  padding-inline: 1rem;
  gap: 1rem;
  display: flex;
}

.label {
  border: 0;
  border-radius: 0.4rem;
  padding-left: 15px;
  background-color: lightgrey;
  color: black;
}

.button {
  background-color: gray;
  color: white;
}
