.name,
.email,
.phoneNumber,
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1.2rem;
	color: black;
	font-size: clamp(1rem, 1.8vw, 1.2rem);
}

.name {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
}

.image {
	object-fit: cover;
  width: 100%;
}
.card {
  background-color: #e6e6d7;
  border-style: solid;
  border-radius: 10px;
  border-color: #e6e6d7;
  padding-bottom: 1rem;
	overflow: hidden;
	flex: 1 0 min(95vw, 17rem);
	max-width: 20rem;
}
