.name,
.email,
.phoneNumber,
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name {
  font-size: 25px;
}
.email {
  margin: 0;
}

.phoneNumber {
  margin: 0;
}

.image {
  height: 100%;
  width: 100%;
  max-height: 15rem;
}
.card {
  background-color: #e6e6d7;
  border-style: solid;
  border-radius: 10px;
  border-color: #e6e6d7;
  padding-bottom: 1rem;
}
